$logo-1x: "./assets/Logo_ML.png";
$logo-2x: "./assets/Logo_ML@2x.png.png";
$free-shipping-logo-1x: "./assets/ic_shipping.png";
$free-shipping-logo-2x: "./assets/ic_shipping@2x.png";

$mla-yellow: #ffe600;
$mla-black: #333333;
$mla-gray: #999999;
$mla-white: #eeeeee;
$mla-blue: #3483fa;

.navi {
  width: 100%;
  background-color: $mla-yellow;
}

.navi-logo {
  background-image: url($logo-1x);
  background-repeat: no-repeat;
  height: 36px;
  width: 53px;
  float: left;
  margin-top: 9px;
  margin-right: 20px;
}

.navi-bar  {
  display: flex;
}
.navi-bar .navi-search {
  flex: 1;
}
.navi-bar .search-submit {
  flex: 0;
  margin: 0;
}
.navi-bar div input {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: $mla-black;
  background-color: #ffffff;
  height: 39px;
  border-radius: 2px;
  border: 0 rgba(0, 0, 0, 0.2);
  padding: 7px 60px 9px 15px;
  outline: none;
  margin-top:5px;
  margin-left:0;
}
.navi-bar div button {
  white-space: nowrap;
  background-image: url("./assets/ic_Search.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 39px;
  margin-top:5px;
  margin-left:0;
  cursor: pointer;
  outline: 0;
  width: 39px;
  background-color: $mla-white;
  padding: 0;
  border: none;
  color: #666;
  box-sizing: border-box;
}

.item-list-container {
  margin-bottom: 32px;
  margin-left: 0;
}
.item-list {
  background-color: white;
  border-bottom: 1px solid $mla-white;
  height: 212px;
  margin: 0;
  padding: 16px;
}
.item-list-data {
  position: relative;
  padding: 0;
  font-size: 18px;
}
.item-list-price {
  font-size: 24px;
}
.item-list-price-decinal {
  font-size: 14px;
}
.item-list-free-shipping-img {
  background-image: url($free-shipping-logo-1x);
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  display: inline-block;
}
.item-list-img-container {
  float: left;
  width: 180px;
  height: 180px;
  margin-right: 16px;
  overflow: hidden;
}

.item-list-img {
  background-color: #fff;
}
.item-list-img img {
  width: auto;
  height: 180px;
  border-radius: 4px;
}
.item-list-state {
  text-align: right;
  font-size: 12px;
  height: 32px;
  padding-right: 100px;
}

.item-details-info {
  padding-top: 32px;
}

.item-detail-sold-quantity {
  font-size: 12px;
}
.item-detail-title {
  font-size: 24px;
  line-height: 1.05;
}
.item-detail-price {
  font-size: 46px;
}
.item-details-price-decimal {
  font-size: 27px;
}
.item-detail-buy-btn {
  margin-top: 32px;
  margin-right: 32px;
  padding: 12px 24px;
  width: 100%;
  color: #fff;
  background-color: $mla-blue;
  border-radius: 2px;
  border: 0;
  text-align: center;
  font-size: 14px;
}
.item-detail-description {
  margin-top: 32px;
  margin-left: 32px;
}
.item-detail-description-title {
  font-size: 28px;
}
.item-detail-description-text {
  margin-bottom: 32px;
  font-size: 16px;
  color: $mla-gray;
  line-height: 1.3;
}
.item-detail-img-container {
  margin-top: 32px;
  margin-left: 32px;
}
.item-detail-img {
  width: 680px;
  background-color: #fff;
}
.item-detail-img img {
  max-width: 100%;
}
.item-cat {
  font-size: 14px;
  color: $mla-gray;
  margin-top: 16px;
  margin-bottom: 16px;
}
.item-detail {
  background-color: white;
}
body {
  margin: 0px;
  background-color: $mla-white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: $mla-black;
}
